.App {
  text-align: center;
  background-image: url('https://www.amle.org/Portals/0///EasyDNNNews/889/784784p888EDNmain889iStock-490433128_DW.jpg');

}

.header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: pink;
  text-decoration: none;
}

.main {
  min-height: 50vh;
  display: flex;
  justify-content: space-around;
  text-align: center;
  background-color: yellow;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(79, 31, 82);
  font-size: calc(10px + 2vmin);
}

.home-content {
  display: flex;
  justify-content: space-around;
  text-align: center;
  max-width: 35vw;
  flex-flow: column;
  text-size-adjust: 80%;

}

.footer {
  display: flex;
  background-color: orange;
  min-height: 10vh;
  margin-bottom: -50px;
  justify-content: space-around;
  color: white;
  text-align: right;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(83, 88, 82);
  color: white;
  text-decoration: none;
}

button {
	border: none;
	outline: none;
	padding: 20px 20px;
	border-radius: 40px;
	color: #333;
	background: #fff;
  margin-bottom: 50px;
  margin-top: 50px;
	box-shadow: 0 3px 40px 0 #0000003b;
}

h3 {
  display: flex;
  align-items: center;
}

form {
  display: flex;
  flex-flow: column; 
  align-items: center;
  justify-content: center;
}


/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
