@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,500&family=Mouse+Memoirs&family=Pacifico&family=Proza+Libre:ital,wght@1,800&display=swap');

html {
  margin: 0;
  // align-items: center;
}

body {
  margin: 0;
  align-items: center;
  // height: 100%;
  // width: 100%;
  // overflow: hidden;

}
nav {
  display: flex;
  background-size: cover;
  justify-content: space-evenly;
  max-height: 15vh;
  max-width: 100vw;
  background-color: rgba(26, 8, 56, 0.75);
  text-decoration: none;
  // min-height: 10vh;
  // background: linear-gradient(rgb(44, 232, 210), rgb(200, 200, 00));
}

.App {
  display: block;
  text-align: center;
  // align-items: center;
  // max-width: 100vw;
  // height: 90%;
  margin: 0;
  // justify-content: space-between;
  background-color: lightgrey;
}

.app-title {
  display: flex;
  // max-width: 100%;
  // font-family: "Pacifico", cursive;
  font-family: '-apple-system';
  font-size: 1rem;
  justify-content: center;
  color: white;
}

.header {
  display: flex;
  // background-image: url(https://i.pinimg.com/originals/29/06/10/2906108d04d7e4cbb08325074d217ade.jpg);
  color: black;
  background-color: rgba(243, 146, 146, 0.964);
  max-width: 100vw;
  // flex-flow: column;
  // align-items: top;
  justify-content: center;
  font-size: calc(4px + 1vmin);
}

.nav-button {
  font-family: "Pacifico";
  text-emphasis: bold;
  font-size: 1.2rem;
  border: yellow 15px;
  background-color: hotpink;
	color: white;
  background-image: url(https://i.pinimg.com/originals/29/06/10/2906108d04d7e4cbb08325074d217ade.jpg);
  background-size: cover;
  flex-grow: 1;
  margin: 10px 10px;
  justify-content: center;
  // border: 20px #fbfe958a;
  &:hover {
    color: yellow;
    background-color: orange;
    // box-shadow: 10px 0px 10px 10px;
  }
}

.main {
  width: 100%;
  text-align: center;
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  color: rgb(79, 31, 82);
  font-size: calc(2vmin);
  // display: flex;
  // flex-flow: column wrap;
}

.home {
  display: flex;
  flex-flow: column;
  color: rgb(95, 89, 95);
  font-family: 'Roboto';
  font-size: 1em;
  align-items: center;
  text-align: center;
  margin: 0;
}

.about {
  display: flex;
  flex-flow: column;
  color: purple;
  font-family: 'Roboto';
  font-size: 1.5em;
  align-items: center;
  text-align: center;
  margin: 0 20rem;
}

.charts {
  display: flex;
  flex-flow: row wrap;
  // justify-content: space-evenly;
}

.objects {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  // max-width: 100%;
}

.title-container {
  font-family: monospace;
  color: darkblue;
  background-color: rgb(250, 250, 200);
  align-content: center;
  align-self: center;
  text-align: top;
  justify-content: center;
  // display: flex;
  // border: solid 10px hotpink;
  // border-radius: 35px;
  // border-radius: 30px;
  // background-size: cover;  
  // margin: 0;
  // max-width: 20vw;
  // max-height: 10vh;
  // margin-top: 2vh;
  // margin-bottom: 40px;
  // padding: 10px;
}

.login-register {
  display: flex;
  max-width: 15%;
  // max-height: 50px;
  // padding: 10px;
  margin: 5px;
  // display: flex;
  // flex: 1;
  // align-self: bottom center;
}

.card-content {
  display: flex;
  font-family: -apple-system, "Helvetica Neue",Helvetica,;
  color: black;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  text-align: wrap;
  font-size: .8rem;
  width: 18vw;
  background-color: rgb(244, 244, 232);
  margin: 3vw;
  padding: 10px;
  border-radius: 25px;
  border: 10px ridge darkslateblue;
  // padding: 30px;

    &:hover {
      color: white;
      background-color: hotpink;
      box-shadow: 5px;
      border: 10px double black;
      h1 {
        color: yellow;
      }
      h2 {
        color: yellow;
      }
      img {
        // border: dotted 10px yellow;
      }
      p {
        color: white;
      }
    }
}

.footer {
  display: flex;
  flex-flow: row wrap;
  max-height: 20vh;
  min-height: 10vh;
  // min-width: 100%;
  color: white;
  font-family: 'Roboto', cursive;
  font-size: calc(3px + 1rem);
  justify-content: flex-end;
  align-content: flex-end;
  bottom: 0;
  background: linear-gradient(rgb(44, 232, 210), rgb(200, 200, 00));
}

.button-submit {
  border: red dotted 2px;
  &:hover {
    color: rgb(212, 57, 106);
    background-color: yellow;
    box-shadow: 5px 5px 5px 5px orange;
  }
}

img {
  // height: 15rem;
  width: 90%;
  height: 20vh;
  // height: 50%;
  // display: flex;
  border: 5px lightblue;
  border-radius: 50px;
  align-self: center;
  justify-self: center;
  padding: 1vh;
}

button {
  font-family: "Roboto";
  // text-emphasis: bold;
  // text-decoration: none;
	padding: 5px 10px;
	border-radius: 25px;
	color: #333;
  background: #fff;
  // margin-left: 20px;
  // margin-bottom: 50px;
  // margin-top: 30px;
  // box-shadow: 0 3px 4px 0 #7e17178a;
  &:hover {
    color: yellow;
    background-color: black;
    // box-shadow: 3px 3px 3px 3px;
  }
}

form {
  display: flex;
  border-radius: 40px;
  width: 50vw;
  height: 50vh;
  background-color: pink;
  flex-flow: column; 
  align-items: left;
  justify-content: center;
}


// media query for under 800px width:
// =============================
@media screen and (max-width: 600px) {
  .main {
    // background-color: lightblue;
  }

}

// media query for larger than 900px width:
// ====================================
@media only screen and (max-width: 900px) {
  .main {
    background-color: pink;
  }

  .footer {
    display: none;
  }
}


// ______BACKGROUND GRADIENT SAMPLES:________
// background: linear-gradient(#e66465, #9198e5);
// background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
// ______BACKGROUND IMAGES________
// BRAIN PATTERN:
//   background-image: url(https://i.pinimg.com/originals/29/06/10/2906108d04d7e4cbb08325074d217ade.jpg);
// LIGHTNING BOLTS w. WHITE BACKGROUND:
// background-image: url('https://www.creativefabrica.com/wp-content/uploads/2018/10/Lightning-seamless-pattern-by-sabavector-580x406.jpg');

// .content {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   max-width: 60vw;
//   flex-flow: column wrap;
//   flex-grow: 1;
//   text-size-adjust: 80%;
// }

// .card {
//   height: 250px;
//   font-family: 'Pacifico', cursive;
//   display: flex;
//   flex-flow: row wrap;
//   outline: dotted red;
//   align-items: center;
//   justify-content: space-around;
//   padding: 30px;
// border-radius: 20px;
// max-width: 70vw;   
// flex-shrink: 1;
// }

// .chart-card {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   border: 5px;
//   border-color: red;
//   border-radius: 20px;
// }